:root{
    --cor-principal:#FFFFFF;
    --cor-secundaria: #002F52;
    --cor-detalhes:#EB9B00;
    --cor-texto: #000000D9;
    --cor-titulo-texto:#002F52;
    --cor-gradiente-azul:linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%)
}