html{
    font-family: 'Poppins', sans-serif;
}

.titulo{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: var(--cor-principal);
}

.subtitulo{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--cor-principal);
}

.subtitulo-laranja{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--cor-detalhes);
}


.descricao{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--cor-texto);
}

.descricao-branco{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--cor-principal);
}

.titulo-laranja{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: var(--cor-detalhes);
    text-transform: uppercase;
}

.titulo-azul{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: var(--cor-secundaria);
}

.card__titulobotao--branco{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--cor-principal);
}

.titulo__margin{
    margin: 16px 0 8px 0;
}

.titulo__fundo{
    background-color: var(--cor-principal);
    text-align: center;
    width: 100%;
    padding: 0.5em 0.5em 0.5em 0.5em;
}